@model RocketNet.Models.Pokemon

@{
    ViewBag.Title = "Details";
}
<div>
    
    <div class="container">
        <div class="nav navbar">
            <img src="~/Content/Images/001.png" class="img-rounded" alt="Cinque Terre" width="200" height="200">
        </div>
        <div class="nav navbar">
            <h2>
                @Html.DisplayFor(model => model.Name) 
                no.@Html.DisplayFor(model => model.DexNum) 
                $@Html.DisplayFor(model => model.Price)
            </h2>
            <h3>
                @Html.DisplayFor(model => model.Type1)
                @Html.DisplayFor(model => model.Type2)
            </h3>
            <h4>
                @Html.ActionLink("Purchase", "Purchase")
            </h4>
            <p>
                Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>
<p>
            
    @Html.ActionLink("Back to List", "List")
</p>
